body {
  background-color: rgb(37, 48, 209);
}
.header{
  display: flex;
  flex-direction: row;
  height: 80px;
  background-color: #7B9E9E;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 50%;
  color: white;
  z-index: 1;
  left: 25%;
  font-size: 20px;
}
.mainContanier{
  display: flex;
  height: auto;
  width: 50%;
  left:25%;
  background-color: white;
  z-index: -2;
}
.leftContainer{
  display: flex;
  flex-direction:column;
  width: 20%;
  position: absolute;
  top: 80px;
  left: 25%;
  background-color: white;
  z-index: -1;
  height: auto;
 }
.rightContainer{
  display: flex;
  flex-direction:column;
  width: 28%;
  position: absolute;
  top: 80px;
  right: 25%;
  background-color: white;
  z-index: -2;
  height: auto;
  padding:0 15px;
  
 }
 .headerPic{
  display: block;
  top: 0px;
  width: 100%;
  position: relative;
  z-index: -1;
}
.hi, .quote, .header{
  font-family: 'Abril Fatface', cursive;
}
.title{
  font-family: 'Merriweather', serif;
  size: 15px;
}
#introduction, #achievements, #experience, #training {
  font-family: 'Josefin Sans', sans-serif;
}
.quoteBox{
  position: relative;
}
.quotationMarks{
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  font-size: 80px;
}
.quote{
  font-size: 42px;
  color: white;
  background: #404740;
  margin: auto;
  padding: 30px 30px 30px 30px;
}
.hi{
  height: 180px;
  font-size: 25px;
  line-height: 40px;
  position: absolute;
  top: 80px;
  left: 15%;
}
#name{
  font-size: 45px;
  letter-spacing: 2px;
}
.spaceLeft1{
  height:50px;
}
.spaceLeft2{
  height:350px;
}
.spaceLeft3{
  height:300px;
}
.spaceRight1{
  height:130px;
}
.spaceRight2{
  height:50px;
}
.spaceRight3{
  height:50px;
}